{% extends 'base.html.twig' %}

{% block title %}Ludopatiaaaa DC
{% endblock %}

{% block body %}
	<h1>Ludopatiaaaa DC</h1>
	{% if is_granted('ROLE_ADMIN') %}
		{% else %}
			<h3>mis cupones:</h3>

			{% for coupon in coupons %}
				<fieldset>
					{{ coupon.number}}
					{{ coupon.sorteo.name }}
					{% if coupon.sorteo.sorteoDate < dateNow %}
						Fecha pasada
					{% else %}
						El sorteo termina el :
						{{ coupon.sorteo.sorteoDate| format_datetime()}}
					{%  endif %}
					{% if coupon.sorteo.winnerCoupon == app.user %}
						Eres el ganador de este sorteo
						<a href="">
							COBRAR</a>
					{%  endif %}
				</fieldset>
				<br>
			{% endfor %}
			<a href="{{ path('app_main') }}">back to Main</a>
	{% endif %}
{% endblock %}
