{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>Ver Usuarios</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Roles</th>
				<th>Saldo</th>
				<th>Total gastado</th>
				<th>Números premiados</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.cash}}</td>
					<td></td>
					<td></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<form action='/user' method='POST'>
		<button type='submit' name='byCash' value='1'>Ordenar por saldo</button>
	</form>
	<form action='/user' method='POST'>
		<button type='submit' name='byTotalSpent' value=''>Ordenar por dinero gastado</button>
	</form>
	<form action='/user' method='POST'>
		<button type='submit' name='byTotalPrizes' value=''>Ordenar números premiados</button>
	</form>
{% endblock %}
